html{
  -webkit-text-size-adjust:100%;
}

body{
  margin:0;
}

*,
*::before,
*::after{
  box-sizing:border-box;
}

img,
picture,
video,
canvas,
svg{
  display:block;
  max-width:100%;
}

button,
input,
textarea,
select{
  font:inherit;
}

a{
  color:inherit;
}
